<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100" style="display: contents;">
       <form method="POST" class="login100-form validate-form">
        <span class="login100-form-title p-b-43">
          Đổi mật khẩu
        </span>


        <div class="wrap-input100 validate-input">
          <input onkeyup = "validateRepassword()" id="oldpassword-box" class="input100" type="password" name="oldpassword">
          <span class="focus-input100"></span>
          <span class="label-input100">Nhập mật khẩu hiện tại</span>
        </div>
        <div class="wrap-input100 validate-input">
          <input onkeyup="validatePassword()" id="newpassword-box" class="input100" type="password" name="password">
          <span class="focus-input100"></span>
          <span class="label-input100">Mật khẩu mới</span>
        </div>
        <span id="passwordcheck-notify"></span>
        <div class="wrap-input100 validate-input">
          <input onkeyup = "validateRepassword()" id="repassword-box" class="input100" type="password" name="repassword">
          <span class="focus-input100"></span>
          <span class="label-input100">Nhập lại mật khẩu mới</span>
        </div>
        <span id="repasswordcheck-notify"></span>
        <div class="container-login100-form-btn">
          <button id="resetButton" onclick="changePassword()" type="button" class="login100-form-btn">
            Xác nhận
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
<script src="js/ResetNewpasswordPage.js"></script>